<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>haha</title>
</head>
<body>
    今天是{{ var }},欢迎光临.<br/>
    今天值班的有:<br>
    {#只有普通变量才使用{{  }},对于for循环应如下使用变量#}
    {% for name in names %}
    <li>{{ name }}</li>
    {% endfor %}
    任务：<br/>
    <table border="1">
        {% for key,value in tasks.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>